/* Стили для <main> STUDIO */

/* basic */
.basic {
    max-width: 1600px;
    height: 600px;
    background-color: rgb(47, 48, 58);
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url("../images/studio/basic.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.basic .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic__title {
    width: 696px;
    color: var(--text-backgr-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.basic__btn {
    background-color: var(--a-hover-focus--btn);
    color: var(--text-backgr-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px hwb(0 0% 100% / 0.15);
    border: 0 solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.basic__btn:hover,
.basic__btn:focus {
    background-color: var(--btn-hover-focus);
}

/* prioritie */
.prioritie-list {
    display: flex;
}

.prioritie-list .item {
    width: 270px;
}

.prioritie-list .item + .item {
    margin-left: 30px;
}

.prioritie-list__icon {
    width: 270px;
    height: 120px;
    text-align: center;
    background-color: var(--backgr-team);
    padding-top: 25px;
    margin-bottom: 30px;
}

.prioritie-list__icon .icon {
    width: 70px;
    height: 70px;
}

.prioritie-list .title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* service */
.service {
    padding-bottom: 94px;
}

.service__title {
    margin-bottom: 50px;
}

.service-list {
    display: flex;
}

.service-list .item {
    position: relative;
}

.service-list .title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--text-backgr-white);
    background: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    text-align: center;
}

.service-list .item + .item {
    margin-left: 30px;
}

/* team */
.team {
    background-color: var(--backgr-team);
    text-align: center;
}

.team__title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    column-gap: 30px;
}

.team-list,
.team-list .title {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list > .item {
    width: 270px;
    background-color: var(--text-backgr-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.team-list img {
    margin-bottom: 30px;
}

.team-list .title {
    font-weight: 500;
    margin-bottom: 10px;
}

.team-list .networks {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
}

.team-list_hover {
    color: var(--icon);
    background-color: var(--text-backgr-white);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list_hover:hover,
.team-list_hover:focus {
    color: var(--text-backgr-white);
    background-color: var(--a-hover-focus--btn);
}

/* clients */
.clients__title {
    margin-bottom: 50px;
}

.clients-card {
    display: flex;
    gap: 30px;
}

.clients-card_style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: var(--icon);
    border: 1px solid var(--icon);
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-card .icon {
    width: 106px;
    height: 60px;
}

.clients-card_style:hover,
.clients-card_style:focus {
    color: var(--a-hover-focus--btn);
    border-color: var(--a-hover-focus--btn);
}

/* модальное окно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--text-backgr-white);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    color: var(--black);
    background-color: transparent;
    border-radius: 50%;
    border-color:  rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.modal__close .icon {
    width: 18px;
    height: 18px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .icon,
.modal__close:focus .icon {
    color: var(--a-hover-focus--btn);
}

.modal__title {
    font-size: 20px;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.modal-field {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.modal-field + .modal-field {
    margin-top: 10px;
}

.modal__lable {
    height: 14px;
    margin-bottom: 4px;
}

.modal__input {
    width: 100%;
    font-size: 16px;
    color: var(--title);
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    color: var(--title);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__input:active,
.modal__commit:focus,
.modal__commit:active {
    outline: 0;
    outline-offset: 0;
    border: 1px solid var(--a-hover-focus--btn);
}

.modal__input:focus + .modal__icon {
    color: var(--a-hover-focus--btn);
}

.modal__input:-webkit-autofill,
.modal__input:-webkit-autofill:focus {
    outline: 0;
    outline-offset: 0;
    -webkit-text-fill-color: var(--title);
    -webkit-box-shadow: 0 0 0px 1000px var(--text-backgr-white) inset;
}

.modal__commit {
    height: 120px;
    resize: none;
    font-size: 16px;
    color: var(--title);
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__commit::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
}

.modal-checkbox {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-checkbox_value {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.modal-checkbox_hide {
    width: 16px;
    height: 15px;
    margin-right: 8px;
}

.modal-checkbox_view {
    width: 16px;
    height: 15px;
    color: transparent;
    border: 2px solid var(--title);
    border-radius: 4px;
    margin-left: 13px;
    margin-right: 8px;
    transition-property: color, background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox_hide:checked + .modal-checkbox_view {
    color: var(--text-backgr-white);
    background-color: var(--a-hover-focus--btn);
    border-color:  var(--a-hover-focus--btn);
}

.modal-checkbox__link {
    color: var(--btn-hover-focus);
    margin-left: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__link:hover,
.modal-checkbox__link:focus {
    color: var(--a-hover-focus--btn);
}

.modal-btn {
    color: var(--text-backgr-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--a-hover-focus--btn);
    padding: 10px 52px;
    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--btn-hover-focus);
}



